*{
  box-sizing: border-box;
  
}
#site { overflow-x: hidden !important;}

.home{
  margin: 0;
  background-color: #222;
  height: 108.25rem;
}
.hangmancontainer{
  margin: 0;
  background-color: #222;
  color: white;
}

.header{
  background-color: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding-left: 2rem;
}
.header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  
  font-size: 1.5rem;
}
.header ul li{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem;
}
.header h1{
  font-size: 4rem;
  background-color: inherit;
}
.start{
  background-color: rgb(12, 90, 10);
}
.start:hover{
  background-color: rgb(13, 124, 11);
  cursor: pointer;
}

.newword{
  background-color: rgb(90, 10, 10);
}
.newword:hover{
  background-color: rgb(136, 9, 9);
  cursor: pointer;
}

.help{
  background-color:rgb(18, 101, 209) ;
}
.help:hover{
  background-color:rgb(66, 142, 241) ;
  cursor: pointer;
}

.App {
  text-align: center;
}

.helpbox{
  display: flex;
  position: fixed;
  z-index: 1; /* Sit on top */
  border-radius: 50px;
  top: 50%;
  left: 50%;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  transform: translate(-50%, -50%) ;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.helpcont{
  margin: 10% auto;
  align-items: center;
  padding: 10px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.helpcont ul{
  font-size: 1.5rem;
  gap: 1rem;
}

.helpcont li{
  padding: 2rem;
}

.helpcont h3{
  background-color: #444;
  width: 90%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 20px;
  padding: 10px 10px;
  border-radius: 10px;

}

.close {
  float: right;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.wrong-letters-container {
  position: absolute;
  top: 25rem;
  right: 65rem;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 5%;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: rgba(22,22,22,0.5);
}

.wrong-letters-container h3 {
  margin: 0 0 5px;
  background-color: rgba(11,11,11,0.5);
  padding: 5px 10px;
  border-radius: 10px;
}

.wrong-letters-container span {
  font-size: 24px;
}
.word {
  display: flex;
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
}